body {
  font-family: 'PT Sans', sans-serif !important;
  background-color: #b4b7be !important;
  padding-top: 70px !important;
}
.logo {
  font-family: 'Roboto', cursive;
  font-size: 28px !important;
  color: #FF853B;
  vertical-align: center;
  
}
.logo:hover, .logo:visited, .logo:active {
  color: #FF853B;
}

a:hover, a:visited, a:active{
  text-decoration: none !important;
  color:inherit;
}
.centralizar{
	text-align: center;
}

table{
  margin-left: 50%;
  margin-right: 50%;
}


