<h2>Pedidos</h2>
<a href="#/adicionarPedido"><button class="adicionar btn btn-success glyphicon glyphicon-plus"></button></a>
<br/>
<br/>

<table class="table table-bordered table-hover">
      <tr>        
        <th>Código</th>
        <th>Cliente</th>
        <th></th>                
      </tr>
      <tr ng-repeat="pedido in pedidos"> 
	        <td>{{pedido.codigo}}</td>
        	<td>{{pedido.cliente.nome}}</td>
    		<td><a href="#/pedido/{{pedido.codigo}}"><button class="btn btn-success glyphicon glyphicon-eye-open"></button></a></td>
      </tr>
</table>
