<h2>Detalhes do pedido</h2>
<br>
<p><strong>Número:</strong> {{pedido.codigo}}</p>
<p><strong>Cliente: </strong>{{pedido.cliente.codigo}} - {{pedido.cliente.nome}}</p>
<p><strong>Data Criação: </strong>{{pedido.dataCriacao}}</p>
<br>
<h3>Itens:</h3>
<table class="table table-bordered table-hover">
      <tr>        
        <th>Código</th>
        <th>Pedido</th>
        <th>Descrição</th>
        <th>Marca</th> 
        <th>Quantidade</th>               
      </tr>
      <tr ng-repeat="item in itens| filter:{pedido: pedido}">        
        <td>{{item.codigo}}</td>
        <td>{{item.pedido.codigo}}</td>
        <td>{{item.produto.descricao}}</td>
        <td>{{item.produto.marca}}</td>
        <td>{{item.quantidade}}</td>
      </tr>
</table>

<a href="#/pedidos"><button class="btn btn-danger">Voltar</button></a>
